.circle {
    background-color: rgb(1, 28, 28);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  
  #circle1 {
    background-color: green;
  } 
  
  #circle2 {
    background-color: yellow;
  } 
  
  #circle3 {
    background-color: orange;
  } 
  
  #circle4 {
    background-color: red;
  } 
  
  .circle.active {
    filter: brightness(100%);
  }