@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


.App {
  text-align: center;
}

.App-header {
  font-family: 'New Rocker', cursive;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  font-size: inherit;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin: 5rem 1rem;
  cursor: pointer;
}

#start{
  margin: 2em;
}

.hidden{
  display: none;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
   
    height:30vh;
  }

  .counter-container {
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #player-bg {
    background: black;
    padding: 0px;
    margin: 0px;
  }
  
  #player {
    width: 80vw;
    height: 60vh;
    background: black;
    margin: 20vh auto 0px auto;
    display: block;
  }