@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


.App {
  text-align: center;
}

.App-header {
  font-family: 'New Rocker', cursive;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  font-size: inherit;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin: 5rem 1rem;
  cursor: pointer;
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 2rem;
  width: 40%;
  height: 25%;
  border-radius: 10px;
  position: relative;
  color: black;
}

.modal button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  margin: 0;
}

.modal .score {
  font-size: 1.5rem;
}

.hidden{
  display: none;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    width:50vw;
    height:30vh;
  }